body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: brown;
}
h1 {
    font-size: 40px;
    font-weight: 2000;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid;
    padding: 20px;
    margin-bottom: 100px;
    width: 50%;
    height: 750px;
    background-color: cadetblue;
}
.input-styling {
    line-height: 0;
    width: 60%;
    margin-bottom: 40px;
    padding: 8px;
    font-size: 18px;
    font-weight: 50;
}
button {
    padding: 15px;
}
.label-styling {
    font-size: 25px;
}
